html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.login-logo {
  width: 92px;
  height: 92px;
  margin-bottom: 45px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 500px;
  align-items: center;
}

.login-title {
  font-size: 38px;
  font-weight: bold;
  margin-top: 12px;
}

.login-subtitle {
  font-size: 16px;
  font-weight: medium;
  margin-top: 8px;
  margin-bottom: 40px;
}

.input-container {
  position: relative;
  width: 100%;
}

.login-input {
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 14px;
  width: 100%;
  height: 52px;
  padding-left: 62px;
  box-sizing: border-box;
}

.login-icons {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 33px;
}

.login-iconspassword {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 31px;
}

.login-forgotpass {
  font-size: 12px;
  color: #808080;
  cursor: pointer;
  align-self: flex-end;
  border: none;
  background: none;
  text-decoration: underline;
  padding-bottom: 50px;
}

.login-button {
  background-color: #E10600;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  height: 52px;
  cursor: pointer;
  width: 100%;
  height: 52px;
  box-sizing: border-box;
}

.login-error {
  color: #E10600;
  background-color: #FFCFCE;
  width: 100%;
  height: 52px;
  box-sizing: border-box;
  font-size: 13px;
  text-align: center;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-error {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  padding-left: 25px;
  padding-right: 10px;
}